/* @font-face {
    font-family: "Ubuntu", sans-serif;
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    src: url('fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

:root {
    --primary : rgb(219, 224, 228);
    --secondary : rgb(28, 72, 131);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.container .main-content {
    background-color: var(--primary);
    flex-grow: 1;
}
.container .main-content .header-dashboard {
    padding: 10px;
    box-sizing: border-box;
}

.container .sidebar {
    background-color: var(--secondary);
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container .sidebar .header span {
    color:var(--primary);
}


.container .sidebar .header {
    display: flex; 
    padding: 10px;
}

.container .sidebar .header a{
    display: flex; 
    align-items: center;
}

.container .sidebar .header a .icon {
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.container .sidebar .header a span{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.container .sidebar a {
    text-decoration: none;
}

.container .sidebar .main-menu {
    display: flex;
    flex-direction: column;
}

.container .sidebar .main-menu .menu {
    height: 40px;
    width: 200px;  
    display: flex; 
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition : all ease-in .2s;
    
}

.container .sidebar .main-menu .menu:hover {
    background-color: var(--primary);
    height: 40px;
    width: 200px;  
    display: flex; 
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition : all ease-in .2s;
}

.container .sidebar .main-menu .menu a {
    display: flex; 
    align-items: center;
}

.container .sidebar .main-menu .menu a .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.container .sidebar .main-menu .menu a .description {
    color: var(--primary);
    font-size: 15px;
}
.container .sidebar .main-menu .menu:hover a .description {
    color: var(--secondary);
    font-size: 15px;
}

.container .main-content .header-dashboard {
    display: flex;
    background-color: var(--secondary);
    justify-content: space-between;
}

.container .main-content a {
    text-decoration: none;
}

.container .main-content .header-dashboard .utility {
    display: flex;
    align-items: center;
}

.container .main-content span{
    color: var(--primary);
}

.container .main-content .header-dashboard .hamburger {
    display: flex;
    align-items: flex-start;
}

.container .main-content .header-dashboard .utility .alarm {
    order: 1;
    margin-right: 50px;
}

.container .main-content .header-dashboard .utility .user {
    order: 3;
}
.container .main-content .header-dashboard .utility .user-information {
    order: 2;
}
.container .main-content .header-dashboard .small-icon {
    width: 40px;
    height: 40px;
}



